{% extends 'myapp/header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		td
		{
			padding: 10px;
		}
	</style>
</head>
<body>
{% if not request.session.userpk %}
{% if error %}
	<center><b>{{error}}</b></center>
{% endif %}
<form name="otp validate" method="post" action="{% url 'validate_otp' %}">
	{% csrf_token %}
	<table align="center">
		<tr>
			<td><input type="hidden" name="otp" value="{{otp}}"></td>
			<td><input type="hidden" name="email" value="{{email}}"></td>
		</tr>
		<tr>
			<td>Enter OTP</td>
			<td><input type="text" name="u_otp"></td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="submit" value="Validate">
			</td>
		</tr>
	</table>
</form>
{% endif %}
</body>
</html>
{% endblock %}